/* You can add global styles to this file, and also import other style files */

.content {
    padding: 30px 30px 30px 30px;
    min-height: calc(100vh - 70px);
}

.bg-prmry{
    background: #1818a0;
    color: white;

}
